body {margin:0;
    background-color: #ffffff;
   font-family: "Times New Roman", Times, serif;
  }
  div.gallerie {
    width: 100%;
    height: auto
  }
  div.gallerie img {
    width: 100%;
    height: auto
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17315a;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #92a5bc ;}
    
  ul.topnav li a.active {background-color:  #4f6f8f;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

  .frase{
    display: block;
      position: absolute;
       width: 100%;
       height: auto; 
       text-align: center;
       top: 60%;
       color:mintcream;
       font-size: 30px;
  }
  .frase cite{  
    background:rgba(63, 57, 57, 0.404); 
    font-size: 30px;
    border: 2px solid;
    border-radius: 20px 20px; 
    padding: 5px 10px; 
  }
  div.sec{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.gallery {
    margin: 12px;
    float:left;
    width: 30%;
    border-radius: 20px 20px;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 16px 16px;
  }

  div.desc {
    padding: 15px;
    color: black;
    background:rgb(255, 255, 255); 
    text-align: center;
  }    
  div.consolas{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }